
cmake_minimum_required(VERSION 3.10)

\# set the project name
project(skel_$self.models['posix-model']['name'] LANGUAGES C CXX VERSION 1.0)

set(CMAKE_BUILD_TYPE Release)

find_package(MPI REQUIRED)
#find_package(ADIOS2 REQUIRED)

add_definitions(-DOMPI_SKIP_MPICXX)

add_executable(skel_$self.models['posix-model']['name'] skel_${self.models['posix-model']['name']}.cxx 
#for $t_rank in range($self.models['posix-model']['num_ranks'])
	rank<%="{0:05d}".format(t_rank)%>.cxx
#end for
)

add_executable(create_synthetic_data create_synthetic_data.cxx)

#target_link_libraries(skel_$self.models['posix-model']['name'] adios2)
target_link_libraries(skel_$self.models['posix-model']['name'] mpi)

