<%
import common

has_adios = True

def stringify_list(lst):
    return map (str, lst)

def emit_mpi_comm(event, field='comm'):
    if event[field] == "MPI_COMM_WORLD" or event[field] == "MPI_COMM_SELF" or event[field] == "MPI_COMM_NULL":
        return event[field]
    if event[field] == "COMM_MPI_COMM_WORLD":
        return "MPI_COMM_WORLD"
    return "COMM_{}".format(event[field])

def ad_emit_mpi_comm (comm_in):
    if comm_in == "MPI_COMM_WORLD" or comm_in == "MPI_COMM_SELF" or comm_in == "MPI_COMM_NULL":
        return comm_in
    if comm_in == "COMM_MPI_COMM_WORLD":
        return "MPI_COMM_WORLD"
    return "COMM_{}".format(comm_in)



self.var_name_dict = {}
self.var_count = 0

def get_var_name(var_descriptor, var_kind):
    name = self.var_name_dict.get(var_descriptor, None)
    if name == None:
        name =  "{}_{}".format(var_kind, self.var_count)
        self.var_name_dict[var_descriptor] = name
        self.var_count = self.var_count + 1
    return name

def have_var(var_descriptor):
    if self.var_name_dict.get(var_descriptor, None) != None:
        return True
    return False



self.vardims = {}

def parse_dims(dimstr):
    if dimstr == ']' or dimstr == '':
        return None

    # Remove brackets
    assert dimstr[0] == '['
    assert dimstr[-1] == ']'
    dimstr = dimstr[1:-1]

    dimstrs = dimstr.split(',')
    return map(int, dimstrs)
      

def capture_var_shape(event):
    shapestr = event['args'].get('1', {}).get('value','')
    varname = event['args'].get('0', {}).get('value','')

    self.vardims[varname] = parse_dims(shapestr)
    return self.vardims[varname]

def get_var_start(event):
    startstr = event['args'].get('2', {}).get('value','')
    return parse_dims(startstr)

def get_var_count(event):
    countstr = event['args'].get('3', {}).get('value','')
    return parse_dims(countstr)

def is_scalar(name):
    return self.vardims.get (name, None) == None


def strip_var_name(s):
    # Convert something that looks like "Variable<int32_t>(Name: 'step')" to "step"
    return s[s.find("'")+1:s.rfind("'")] 


def emit_adios2_function(event, indent=4):
    #import pdb; pdb.set_trace()

    rvlist = []
    rvlist.append(' '*indent + "// emitting adios2 function: {}".format(event['name']))

                         ####################
    if event['name'] == 'adios2::ADIOS::ADIOS':
                         ####################
        rvlist.append(' '*indent + "adios2::ADIOS adios(" + ad_emit_mpi_comm(event['args']['1']['value']) + ");")

                           ########################
    elif event['name'] == 'adios2::ADIOS::DeclareIO':
                           ########################

        rvlist.append(' '*indent + 'adios2::IO ' + get_var_name(event['return'], 'io') + ' = adios.DeclareIO("' + event['args']['0']['value'] + '");')

                           ###################################
    elif event['name'] == 'adios2::IO::DefineAttribute<double>':
                           ###################################

        rvlist.append (' '*indent + '{')
        rvlist.append(' '*indent + 'adios2::Attribute<double> ' + get_var_name(event['return'], 'attribute') + ' = ' + get_var_name(event['this'], 'io') +'.DefineAttribute<double>("' + event['args']['0']['value'] + '", ' + event['args']['1']['value'] + ');')
        rvlist.append (' '*indent + '}')


                           ###############################
    elif event['name'].startswith('adios2::IO::DefineVariable'):
                           ###############################

# This is the scalar version  with fewer params

        n = event['name']
        type = n[n.find('<')+1:n.find('>')]

        shape = capture_var_shape(event)
        start = get_var_start(event)
        count = get_var_count(event)

        if shape == None: # Use the scalar form

            rvlist.append (' '*indent + '{')
            if have_var(event['return']):
              rvlist.append(' '*indent + get_var_name(event['return'], 'variable') + ' = ' + get_var_name(event['this'], 'io') +'.DefineVariable<' + type + '>("' + event['args']['0']['value'] + '");')
            else:
              rvlist.append(' '*indent + 'adios2::Variable<' + type + '> ' + get_var_name(event['return'], 'variable') + ' = ' + get_var_name(event['this'], 'io') +'.DefineVariable<' + type + '>("' + event['args']['0']['value'] + '");')
            #rvlist.append (' '*indent + '}')

        else: # Not scalar

            #rvlist.append (' '*indent + '{')
            if have_var(event['return']):
              rvlist.append(' '*indent +
                get_var_name(event['return'], 'variable') + ' = ' + 
                get_var_name(event['this'], 'io') +
                '.DefineVariable<' + type + '>("' + event['args']['0']['value'] + '"' +
                ', {' + '*'.join(map(str,shape)) + '},' +
                '{' + '*'.join(map(str,start)) + '},' +
                '{' + '*'.join(map(str,count)) + '}' +
                ', ' + event['args']['4']['value'] +
                ');')
            else:
              rvlist.append(' '*indent +
                'adios2::Variable<' + type + '> ' + 
                get_var_name(event['return'], 'variable') + ' = ' + 
                get_var_name(event['this'], 'io') +
                '.DefineVariable<' + type + '>("' + event['args']['0']['value'] + '"' +
                ', {' + '*'.join(map(str,shape)) + '},' +
                '{' + '*'.join(map(str,start)) + '},' +
                '{' + '*'.join(map(str,count)) + '}' +
                ', ' + event['args']['4']['value'] +
                ');')


              #rvlist.append(' '*indent + 'adios2::Variable<double> ' + get_var_name(event['return'], 'variable') + ' = ' + get_var_name(event['this'], 'io') +'.DefineVariable<double>("' + event['args']['0']['value'] + '");')
            #rvlist.append (' '*indent + '}')


                           ################
    elif event['name'] == 'adios2::IO::Open':
                           ################

        rvlist.append(' '*indent + 'adios2::Engine ' + get_var_name(event['return'], 'engine') + ' = ' + get_var_name(event['this'], 'io') + '.Open("' + event['args']['0']['value'] + '", adios2::' + event['args']['1']['value'] + ');')

                           ######################
    elif event['name'] == 'adios2::IO::EngineType':
                           ######################

        rvlist.append(' '*indent + '// Ignoring EngineType call.')

                           #########################
    elif event['name'] == 'adios2::Engine::BeginStep':
                           #########################

        rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.BeginStep();')

                           ########################
    elif event['name'] == 'adios2::Engine::Put<int>':
                           ########################

        rvlist.append(' '*indent + '{')
#        if is_scalar (strip_var_name(event['args']['0']['value'])):
#          rvlist.append(' '*indent + 'int '+ strip_var_name(event['args']['0']['value']) + '_mem = 0;')
#          rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.Put<int>(' +
#            get_var_name(event['args']['0']['value'], 'variable') + ' ,' +
#            strip_var_name(event['args']['0']['value']) + '_mem, ' +
#            'adios2::' + event['args']['2']['value'] + ');')
#        else:
#          rvlist.append(' '*indent + '// TODO: declaration')
#          rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.Put<int>(' +
#            get_var_name(event['args']['0']['value'], 'variable') +
#            strip_var_name(event['args']['0']['value']) + '_mem, ' +
#            'adios2::' + event['args']['2']['value'] + ');')
#        rvlist.append(' '*indent + '}')

                           ###########################
    elif event['name'] == 'adios2::Engine::Put<double>':
                           ###########################

        rvlist.append(' '*indent + '{')
#        if is_scalar (strip_var_name(event['args']['0']['value'])):
#          rvlist.append(' '*indent + 'double '+ strip_var_name(event['args']['0']['value']) + '_mem = 0;')
#          rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.Put<double>(' +
#            get_var_name(event['args']['0']['value'], 'variable') + ' ,' +
#            strip_var_name(event['args']['0']['value']) + '_mem, ' +
#            'adios2::' + event['args']['2']['value'] + ');')
#        else:
#          rvlist.append(' '*indent + 'uint64_t size = ' + '*'.join(['100','100','100']) + ';')
#          rvlist.append(' '*indent + 'std::vector<double> '+ strip_var_name(event['args']['0']['value']) + '_mem(size, 17);')
#          rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.Put<double>(' +
#            get_var_name(event['args']['0']['value'], 'variable') + ', ' +
#            strip_var_name(event['args']['0']['value']) + '_mem.data()' +
#            ', adios2::Mode::Sync' +  #+ event['args']['2']['value'] +
#            ');')
#        rvlist.append(' '*indent + '}')


                           #######################
    elif event['name'] == 'adios2::Engine::EndStep':
                           #######################

        rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.PerformPuts();')
        rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.EndStep();')

                           #####################
    elif event['name'] == 'adios2::Engine::Close':
                           #####################
        rvlist.append(' '*indent + get_var_name(event['this'], 'engine') + '.Close();')


                           ########################
    elif event['name'] == 'adios2::IO::InConfigFile':
                           ########################
        rvlist.append(' '*indent + '// Ignoring InConfigFile()')


    else:
        raise NotImplementedError('ADIOS2 fuction not implemented -{}-'.format(event['name']))

    return '\n'.join (rvlist)

def emit_mpi_function(event, indent=4):
    rvlist = []
    rvlist.append(' '*indent + "// emitting mpi function: {}".format(event['name']))

    if event['name'] == 'MPI_Allgather':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['sendsize']))
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['recvsize']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Allgather(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Allgatherv':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['mean']))
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['mean']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Allgather(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Allreduce':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int count = {};'.format (event['size']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Datatype datatype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Op op = MPI_SUM;')
        rvlist.append (' '*indent + 'MPI_Allreduce(sendbuf, recvbuf, count, datatype, op, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Alltoall':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['sendsize']))
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['recvsize']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Alltoall(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Alltoallv':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['sendmean']))
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['recvmean']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Alltoall(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Barrier':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Barrier(comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Bcast':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int count = {};'.format (event['size']))
        rvlist.append (' '*indent + 'MPI_Datatype datatype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Bcast(sendbuf, count, datatype, root, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Cart_create':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int ndims = {};'.format (event['ndims']))
        rvlist.append (' '*indent + 'int dims[] = {{{}}};'.format (','.join(stringify_list(event['dims']))))
        rvlist.append (' '*indent + 'int periods[] = {{{}}};'.format (','.join(stringify_list(event['periods']))))
        rvlist.append (' '*indent + 'int reorder = {};'.format (event['reorder']))
        rvlist.append (' '*indent + 'MPI_Comm comm_new = ' + emit_mpi_comm(event, field='comm_out') +';')
        rvlist.append (' '*indent + 'MPI_Comm comm_old = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Cart_create(comm_old, ndims, dims, periods, reorder, &comm_new);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Comm_split':
       # rvlist.append (' '*indent + 'MPI_Comm {};'.format(emit_mpi_comm(event, field='comm_out') ) )
        rvlist.append (' '*indent + 'color = {};'.format(event['color']))
        rvlist.append (' '*indent + 'key = {};'.format(event['key']))
        rvlist.append (' '*indent + 'MPI_Comm_split({}, color, key, &{});'.format(emit_mpi_comm(event, field='comm_in'), emit_mpi_comm(event, field='comm_out')))
    elif event['name'] == 'MPI_Comm_dup':
       # rvlist.append (' '*indent + 'MPI_Comm COMM_{};'.format(event['comm_out']))
        rvlist.append (' '*indent + 'MPI_Comm_dup(COMM_{}, &COMM_{});'.format(event['comm_in'], event['comm_out']))
    elif event['name'] == 'MPI_Gather':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['sendsize']))
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['recvsize']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Gather(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, root, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Gatherv':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['mean']))
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['mean']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Gather(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, root, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Reduce':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int count = {};'.format (event['size']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Datatype datatype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Op op = MPI_SUM;')
        rvlist.append (' '*indent + 'MPI_Reduce(sendbuf, recvbuf, count, datatype, op, root, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Reduce_scatter':
        rvlist.append (' '*indent + '{')
        #rvlist.append (' '*indent + 'int count = {};'.format (event['size']))
        #rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        #rvlist.append (' '*indent + 'MPI_Datatype datatype = MPI_BYTE;')
        #rvlist.append (' '*indent + 'MPI_Op op = MPI_SUM;')
        #rvlist.append (' '*indent + 'MPI_Reduce_scatter(sendbuf, recvbuf, recvcounts, datatype, op, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Scan':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'int count = {};'.format (event['size']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Datatype datatype = MPI_BYTE;')
        rvlist.append (' '*indent + 'MPI_Op op = MPI_SUM;')
        rvlist.append (' '*indent + 'MPI_Scan(sendbuf, recvbuf, count, datatype, op, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Scatter':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['sendsize']))
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['recvsize']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Scatter(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, root, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Scatterv':
        rvlist.append (' '*indent + '{')
        rvlist.append (' '*indent + 'MPI_Datatype sendtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int sendcount = {};'.format (event['mean']))
        rvlist.append (' '*indent + 'MPI_Datatype recvtype = MPI_BYTE;')
        rvlist.append (' '*indent + 'int recvcount = {};'.format (event['mean']))
        rvlist.append (' '*indent + 'MPI_Comm comm = ' + emit_mpi_comm(event) +';')
        rvlist.append (' '*indent + 'MPI_Scatter(sendbuf, sendcount, sendtype, recvbuf, recvcount, recvtype, root, comm);')
        rvlist.append (' '*indent + '}')
    elif event['name'] == 'MPI_Comm_free':
        rvlist.append (' '*indent + '// MPI_Comm_free')
    else:
        raise NotImplementedError('MPI fuction not implemented -{}-'.format(event['name']))

    return '\n'.join (rvlist)

def emit_posix_function(event, indent=4, filter=[]):
    rvlist = []
    rvlist.append(' '*indent + "// emitting posix function: {0}".format(event['name']))
    rvlist.append(' '*indent + "START_TIMER(posix_total_timer);")

    ##################################
    if event['name'] == 'fopen64':
        if not event['path'] in filter:
          rvlist.append(' '*indent + "START_TIMER(open_timer);")
          file_name = common.to_fp_name(event['path'])
          decl = "FILE* "
          if file_name in declared_set:
            decl = ""
          else:
            declared_set.add (file_name)
          rvlist.append (' '*indent + '{}{} = fopen64("{}", "{}");'.format(decl, common.to_fp_name(event['path']), common.to_fp_name(event['path']), event['mode']))
          rvlist.append (' '*indent + 'if ({} == 0){{'.format(common.to_fp_name(event['path'])))
          rvlist.append (' '*indent + '    fprintf(stderr, "Unable to open input file {}. Aborting.");'.format(event['path']))
          rvlist.append (' '*indent + '    exit(1);')
          rvlist.append (' '*indent + '}')
          rvlist.append (' '*indent + 'int {} = fileno ({});'.format(common.to_fp_name(event['path'], prefix='fd'), common.to_fp_name(event['path']) ) )
          rvlist.append(' '*indent + "STOP_TIMER(open_timer);")
    ##################################
    elif event['name'] == 'fopen':
        if not event['path'] in filter:
          rvlist.append(' '*indent + "START_TIMER(open_timer);")
          file_name = common.to_fp_name(event['path'])
          decl = "FILE* "
          if file_name in declared_set:
            decl = ""
          else:
            declared_set.add (file_name)
          rvlist.append (' '*indent + '{}{} = fopen("{}", "{}");'.format(decl, common.to_fp_name(event['path']), common.to_fp_name(event['path']), event['mode']))
          rvlist.append (' '*indent + 'if ({} == 0){{'.format(common.to_fp_name(event['path'])))
          rvlist.append (' '*indent + '    fprintf(stderr, "Unable to open input file {}. Aborting.");'.format(event['path']))
          rvlist.append (' '*indent + '    exit(1);')
          rvlist.append (' '*indent + '}')
          rvlist.append (' '*indent + 'int {} = fileno ({});'.format(common.to_fp_name(event['path'], prefix='fd'), common.to_fp_name(event['path']) ) )
          rvlist.append(' '*indent + "STOP_TIMER(open_timer);")
    ##################################
    elif event['name'] == 'fread':
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(read_timer);")
          rvlist.append (' '*indent + 'fread ({})'.format(common.to_fp_name(event['pathname']) ) )
          rvlist.append(' '*indent + "STOP_TIMER(read_timer);")
    ###################################
    elif event['name'] == 'fwrite':
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(write_timer);")
          rvlist.append (' '*indent + 'fwrite (write_buf, {}, 1, {});'.format(event['return'], common.to_fp_name(event['pathname']) ) )
          rvlist.append(' '*indent + "STOP_TIMER(write_timer);")
    ###################################
    elif event['name'] == 'fclose':
        if not event['pathname'] in filter:
          rvlist.append (' '*indent + '//fclose ({});'.format(common.to_fp_name(event['pathname']) ) )
    #################################
    elif event['name'] == 'open':
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(open_timer);")
          decl = "int "
          filename = common.to_fp_name(event['pathname'])
          if filename in declared_set:
            decl = ""
          else:
            declared_set.add(filename)
          rvlist.append (' '*indent + '{}{} = open("{}", {}, {});'.format(decl, common.to_fp_name(event['pathname'], prefix='fd'), event['pathname'], event['flags'], event['mode']))
          rvlist.append (' '*indent + 'if ({} == 0){{'.format(common.to_fp_name(event['pathname'], prefix='fd')))
          rvlist.append (' '*indent + '    fprintf(stderr, "Unable to open input file {}. Aborting.");'.format(event['pathname']))
          rvlist.append (' '*indent + '    exit(1);')
          rvlist.append (' '*indent + '}')
          rvlist.append(' '*indent + "STOP_TIMER(open_timer);")
    ##################################
    elif event['name'] == 'lseek':
        if not event['pathname'] in filter:
          rvlist.append (' '*indent + 'rv = lseek({}, {}, {});'.format(common.to_fp_name(event['pathname'], prefix='fd'), event['offset'], event['whence']))
    #################################
    elif event['name'] == 'read':
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(read_timer);")
          rvlist.append (' '*indent + 'rv = read({}, read_buf, {});'.format(common.to_fp_name(event['pathname'], prefix='fd'), event['return']))
          rvlist.append(' '*indent + "STOP_TIMER(read_timer);")
    ##################################
    elif event['name'] == 'write':
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(write_timer);")
          rvlist.append (' '*indent + 'rv = write({}, write_buf, {});'.format(common.to_fp_name(event['pathname'], prefix='fd'), event['return']))
          rvlist.append(' '*indent + "STOP_TIMER(write_timer);")
    ###################################
    elif event['name'] == 'writev': # Replace writev with write for now
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(write_timer);")
          rvlist.append (' '*indent + 'rv = write({}, write_buf, {});'.format(common.to_fp_name(event['pathname'], prefix='fd'), event['return']))
          rvlist.append(' '*indent + "STOP_TIMER(write_timer);")
    ##################################
    elif event['name'] == 'close':
        if not event['pathname'] in filter:
          rvlist.append(' '*indent + "START_TIMER(close_timer);")
          rvlist.append (' '*indent + 'close ({});'.format(common.to_fp_name(event['pathname'], prefix='fd') ) )
          rvlist.append(' '*indent + "STOP_TIMER(close_timer);")
    ####
    else:
        raise NotImplementedError('POSIX function not implemented -{}-'.format(event['name']))

    rvlist.append(' '*indent + "STOP_TIMER(posix_total_timer);")
    return '\n'.join (rvlist)


def emit_skel_function(event, indent=4):

    if event['name'] == 'compute':
        return " "*indent + "std::this_thread::sleep_for(std::chrono::milliseconds({}) );".format(int(event['dur']/1000)) #convert micros to millis.


def emit_function(event, filter=[]):
    if event['cat'] == 'MPI':
        return emit_mpi_function(event)
    elif event['cat'] == 'POSIX':
        return emit_posix_function(event, filter=filter)
    elif event['cat'] == 'SKEL':
        return emit_skel_function(event)
    elif event['cat'] == 'ADIOS2_API':
        return emit_adios2_function(event)
    elif event['cat'] == 'TAU':
        return "// TAU event ignored"
    elif event['cat'] == 'none':
        return "// none type event ignored"
    else:
        raise NotImplementedError('Unknown function category -{}-'.format(event['cat']))

%>

\#include <iostream>
\#include <fstream>
\#include "mpi.h"
\#include <sys/types.h>
\#include <sys/stat.h>
\#include <fcntl.h>
\#include <unistd.h>
\#include <chrono>
\#include <ctime>
\#include <thread>
\#include <limits>
#if $has_adios
\#include <adios2.h>
#end if

extern std::string logfilename;
extern std::string tag;
<%
timer_list = [
'total',
'posix_total',
'open',
'read',
'write',
'close'
]

declared_set = set()
mpi_comm_set = set()

# Let us grab all of the comm declarations
for event in self.models['posix-model']['events'][int(self.arg['rank'])]:
    if event.get('comm', None):
        mpi_comm_set.add (event['comm'])
    if event.get('comm_in', None):
        mpi_comm_set.add (event['comm_in'])
    if event.get('comm_out', None):
        mpi_comm_set.add (event['comm_out'])

%>

#define INIT_TIMERS() \
    auto arbitrary_time = std::chrono::system_clock::now();

#define DEFINE_TIMER(tname) \
    std::chrono::duration<double> tname = arbitrary_time - arbitrary_time; \
    std::chrono::system_clock::time_point tname <%='##'%> _start_time;

#define START_TIMER(tname) \
    tname <%='##'%> _start_time = std::chrono::system_clock::now();

#define STOP_TIMER(tname) \
    tname += std::chrono::system_clock::now() - tname <%='##'%> _start_time; 

#define PRINT_TIMER(tname) \
    std::cout <<  <%='#'%>tname << ": " << tname.count() << std::endl;


void do_rank_<%='{0:05d}'.format(int(self.arg['rank']))%> (MPI_Comm comm){

    int rv;
    int root = 0; // Use rank zero unless we need something else
    int key, color; // for MPI_Comm_split
    const int read_buf_size = 128 * 1024 * 1024;
    const int write_buf_size = 128 * 1024 * 1024;
    const int recv_buf_size = 128 * 1024 * 1024;
    const int send_buf_size = 128 * 1024 * 1024;
    char* write_buf = (char*)(malloc (write_buf_size) );
    char* read_buf = (char*)(malloc (read_buf_size) );
    char* sendbuf = (char*)(malloc (send_buf_size) );
    char* recvbuf = (char*)(malloc (recv_buf_size) );

#for $comm in $mpi_comm_set
#if not 'MPI' in $comm
    MPI_Comm COMM_$comm;
#end if 
#end for

    int size, rank;
    MPI_Comm_size (comm, &size);
    MPI_Comm_rank (comm, &rank);

    // Set up timers
    INIT_TIMERS();
#for $timer in $timer_list
    DEFINE_TIMER(${timer}_timer);
#end for

    START_TIMER(total_timer);


<%
filter = self.models['tweak']['filter']
%>


#for $event in $self.models['posix-model']['events'][int($self.arg['rank'])]
<%=emit_function(event, filter=filter)%>

#end for

    STOP_TIMER(total_timer);
    PRINT_TIMER(total_timer);

    // Timer report generated from cheetah timer list instead of clunky C++ macro

    // Gather timer info from all ranks to 0
    int sendcount = 1;
    int recvcount = 1;
    unsigned int logrank = 0;
#for $timer in $timer_list
    double * all_${timer}_timer = (double*) malloc (size * sizeof(double));
    MPI_Gather(&${timer}_timer, sendcount, MPI_DOUBLE, all_${timer}_timer, recvcount, MPI_DOUBLE, logrank, comm);
    
    // Compute stats
    double ${timer}_sum = 0.0;
    double ${timer}_min = std::numeric_limits<double>::max();
    double ${timer}_max = 0.0;
    for (int i = 0; i < size; i++){
        ${timer}_sum += all_${timer}_timer[i];
        ${timer}_min = std::min(${timer}_min, all_${timer}_timer[i]);
        ${timer}_max = std::max(${timer}_max, all_${timer}_timer[i]);
    }
    double ${timer}_mean = ${timer}_sum / size;
#end for

    // One process will write the log file
    if (rank == logrank) {
<%first=True%>
        // Dump json file 
        std::ofstream logfile;
        logfile.open (logfilename);
        logfile << "{\"timer_set\": [\n";
#for $timer in $timer_list
#if not $first
        logfile << "," << std::endl;
#end if
<%first=False%>
        logfile << "  {\"name\": \"${timer}\", ";
        logfile << "\"mean\": " << ${timer}_mean << ", ";
        logfile << "\"min\": " << ${timer}_min << ", ";
        logfile << "\"max\": " << ${timer}_max; ## << ", ";
        logfile << "}";
#end for
        logfile << "]," << std::endl;
        logfile << "\"tag\": \"" << tag << "\"," << std::endl;
        logfile << "\"comm_size\": " << size << "}" << std::endl;
        logfile.close();

    }
}

// <%= self.var_name_dict %>
